.rouge {
    color: red;
}

.bgImage{
    background-image: url("https://siviaggia.it/wp-content/uploads/sites/2/2020/09/ryanair-offerta-2x1-1.jpg");
    background-size: cover;
    z-index: 1;
    max-height: 1000px;
    min-height: 1000px;
}

#monFormulaire {
    /* Uniquement centrer le formulaire sur la page */
    margin: 0 auto;
    width: 600px;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

.display {
    display: none;
}

#chatbot.display{
    display: block;  
}

.mise {
    border:3px solid #000000;  
    background-color: #fefefe;
    width:26vw;
    min-width:170px;
    height:30vh;
    min-height:600px;
    position:fixed;
    bottom:0;
    right:0;
    padding:10px;
    box-sizing:border-box;
    
}

#chatbot{
    background-color: #ffffff;
    width: 26vw;
    min-width: 170px;
    height: 30vh;
    min-height: 530px; 
    top: 0;
    right: 0;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

#messageForm{
    position: absolute;
    bottom:0;
    padding:20px 0;
    width:100%;
}

.messageUser{
    width:60%;
    background-color: rgb(3, 106, 240);
    border-radius: 2em;
    color:#fefefe;
    padding: 20px;
    float:left;
    margin-top:20px;
    
}

.messageBot{
    width:50%;
    background-color: red;
    border-radius: 2em;
    color:#030303;
    padding: 20px;
    float:right;
    margin-top:20px;
}

#close{
    position:absolute;
    top:0;
    right:0;
    margin:0.5%;
}

#open{
    position:fixed;
    bottom:0;
    right: 0;
    margin:0.5%;
 
}

.error{
    width:50%;
    background-color: red;
    border-radius: 2em;
    color:white;
    padding: 20px;
    float:right;
    margin-top:20px;
}

.lessMB{
    margin-bottom:-2.5%;
}

